<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ataraxia.pawahara">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:name="com.ataraxia.pawahara.service.Entireapp"
        android:theme="@style/Theme.PowerHarrasProtector">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ataraxia.pawahara.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name="com.ataraxia.pawahara.ui.plan.PlansActivity"
            android:screenOrientation="portrait"

            android:exported="false"/>
        <activity
            android:name="com.ataraxia.pawahara.subscription.Subs"
            android:exported="false" />

        <activity
            android:name="com.ataraxia.pawahara.ui.thankyou.ThankyouActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PowerHarrasProtector">

        </activity>
        <activity
            android:name="com.ataraxia.pawahara.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ataraxia.pawahara.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PowerHarrasProtector">


        </activity>


        <activity android:name="com.ataraxia.pawahara.helper.RingdroidEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <receiver android:name="com.ataraxia.pawahara.service.AlarmReceiver"  android:exported="false"/>

        <service android:name="com.ataraxia.pawahara.service.ForegroundService" />
        <service
            android:name="com.ataraxia.pawahara.service.PowerAccesibilityService"
            android:label="@string/background_recording_service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <receiver android:name="com.ataraxia.pawahara.service.IncomingCallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>